// This is the top-level scss file. Import all other files in here.
@import 'home';
@import 'search';
@import 'product';
@import 'sign_in_register';

.article-commnet {
  padding: 10px;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #fff;
}

.loginscreen {
  padding: 100px;
}