@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

$primary-color: #222222;

html,body {
  height: 100%;
  font-family: 'Droid Sans Mono', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

p,h1,h2,h3,h4 {
  font-family: 'Droid Sans Mono', sans-serif;
}

hr {
  border-color:#191919;
}

/* wrapper for page content to push down footer */
.page-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* negative indent footer by its height */
  margin: 0 auto -120px;
  /* pad bottom by footer height */
  padding: 0 0 70px;
}

/* set the fixed height of the footer here */
#footer {
  height: 120px;
  background-color: #222222;
  border:0 solid #080808;
  border-top-width: 1px;
  margin-top:50px;
}

#footer > .container {
  padding: 20px;
}

body {
  padding-top: 51px;

  background: #2b2b2b;
  color: #f9f9f9;
  background-attachment: fixed;
}
a {
  color:#000;
}

.text-center {
  padding-top: 20px;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}

#sidebar .affix {
  position:fixed;
  top:55;
  width:220px;
}

#sidebar .affix-bottom {
  position:fixed;
  top:55;
  width:220px;
}

#sidebar .nav {
  width: 100%;
}
#sidebar li {
  border:0 #1e1e1e solid;
  border-bottom-width:1px;
  background: rgba(192,192,192,0.4);
  margin-bottom: 10px;
}
#sidebar li a {
  padding-left:5px;
  padding-right: 5px;
}
#sidebar li:hover {
  background-color: rgba(192,192,192,0.4);
  color:#ffffff;
}

#sidebar .card-block {
  height: 32vh;
  overflow: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}


/* theme */
.btn,.form-control,.alert,.progress,.panel,.list-group,.well,.list-group-item:first-child {border-radius:1px;box-shadow:0 0 0;}
.btn {border-color:transparent;}
.btn-default,.well {
  background-color:#cccccc;
  border-color:#c0c0c0;
}
.btn-primary,.label-primary,.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus,.btn.active,a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
   background-color:#0099CC;
   border-color:transparent;
}
.btn-info,.label-info,.progress-bar-info {
  background-color:#33b5e5;
}
.btn-success,.label-success,.progress-bar-success {
  background-color:#669900;
}
.btn-danger,.label-danger,.progress-bar-danger {
  background-color:#FF4444;
}
.btn-warning,.label-warning,.progress-bar-warning {
  background-color:#FFBB33;
  color:#444444;
}
.nav-tabs>li>a {
  border-radius:0;
}

h3,h4,h5,.panel {
   color:#3a3636;
}
.panel hr {
   border-color:#efefef;
}
.fa {
  cursor: pointer
}

#sidebarText{
  color:black
}

#sidebarBtn{
  background-color:rgb(100, 113, 156)
}

#sidebarLabels{
  color: red
}

.btn-default {
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar-nav {
  li {
    a {
      font-size: 1.1em;
    }
  }
}